/* PROFILE */

.profile-buttons {
    height: 55px;
}

.profile-picture {
    margin-top:10px;
    margin-right:0px;
    margin-bottom:10px;
}

.profile-header {
	padding-left:15px; 
	background-color:#fff;
	margin-bottom:0px;
}

.suggested-content {
	height:70px;
}

.f_dp {
    width: 130px; height: 130px; background-color: #000
}

.p_dp {
    width: 35px; height: 35px; background-color: #000
}

.dp {
    width: 220px; height: 220px; background-color: #000; margin-left: 20px;
}

/* END PROFILE */

/* HOME */

textarea {
	resize:none;
}

.icon-loading {
	background-image: url('/public/img/loading.gif');
}

/* END HOME */

/* POSTS */

.post-container {
    float:left;
    width:100%;
}

.post-contents {
    width:100%;
    float:left;
    margin-bottom:30px;
    border-bottom:1px solid #E3E3E3;
}

.img-username {
    float:left;
    width:100%;
}

.img-username a {
    float:left;
    margin-left:10px;
    margin-top:-3px;
}

.img-username label {
    float:left;
    font-size:12px;
    margin-left:10px;
    margin-top:-3px;
}

.img-username img {
    width:35px;
    height:35px;
    float:left;
}

.post-message {
    float:left;
    width:100%;
    white-space:pre;
    margin-bottom:10px;
}

.post-contents blockquote {
    float:left;
    width:auto;
}

/* END POSTS */
