/* PROFILE */

.profile-buttons {
    height: 55px;
}

.profile-picture {
    margin-top:10px;
    margin-right:0px;
    margin-bottom:10px;
}

.profile-header {
	padding-left:15px; 
	background-color:#fff;
	margin-bottom:0px;
}

.suggested-content {
	height:70px;
}

/* END PROFILE */

